export(annotatePeaks)
export(callPeaks)
export(centerMotif)
export(computeInput)
export(Daim)
export(daimTreat)
export(digestGenome)
export(fragmentCounts)
export(filterBySize)
export(genomeInfo)
export(normalizeBias)
export(plotComplexity)
export(plotCorrelation)
export(plotCoverage)
export(plotDensity)
export(plotEnrichment)
export(plotFeature)
export(plotMA)
export(plotMDS)
export(plotPCA)
export(plotTSS)
export(rollAssay)
export(searchMotif)
export(writeAssay)
export(writeBroad)
export(writeRatio)
import(Biobase)
import(BiocGenerics, except = c("boxplot", "image", "plotMA"))
import(Biostrings)
import(BSgenome)
import(GenomeInfoDb)
import(GenomicFeatures)
import(GenomicRanges)
import(graphics)
import(IRanges)
import(limma)
import(methods)
import(Rsamtools)
import(S4Vectors)
import(SummarizedExperiment)
importFrom(stats, cmdscale)
importFrom(stats, dist)
importFrom(stats, ecdf)
importFrom(stats, model.matrix)
importFrom(stats, prcomp)
importFrom(stats, pt)
importFrom(stats, setNames)
importFrom(quantreg, rq)
